<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/card.css">
</head>
<body>
    <div class="container">
        <div class="profile_pic">
           <img src="/McGregor.jpg" alt="McGregor">
        </div>
        <div class="info">
            <ul class="stats">
                <li>Name: <span>Conor McGregor</span></li>
                <li>Weightclass: <span>Lightweight</span></li>
                <li>Gender: <span>Male</span></li>
            </ul>
        </div>
    </div>
</body>
</html>

