<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fighter Style Grid</title>
    <link rel="stylesheet" href="/styles/fighterstylegrid.css">
</head>
<body>
    <div class="container">
        <div class="style_grid">
            <div class="style_img">
                <img src="/images/Judo.avif" alt="">
            </div>
            <div class="style_name">
                <h1>Judo</h1>
            </div>
            <div class="style_info">
                <p>Olympic sport (since 1964), and the most prominent form of jacket wrestling competed internationally.[3][4][5] 
                    Judo was created in 1882 by Kanō Jigorō (嘉納 治五郎) as an eclectic martial art, distinguishing itself from its predecessors 
                    (primarily Tenjin Shinyo-ryu jujutsu and Kitō-ryū jujutsu) due to an emphasis on "randori" (乱取り, lit. 'free sparring') 
                    instead of "kata" (pre-arranged forms) alongside its removal of striking and weapon training elements.[3][4][6]</p>
            </div>
        </div>
        <div class="style_grid">
            <div class="style_img">
                <img src="/images/BJJ.jpg" alt="">
            </div>
            <div class="style_name">
                <h1>BJJ</h1>
            </div>
            <div class="style_info">
                <p> a self-defence, martial art and combat sport based on grappling, ground fighting, and submission holds. 
                    BJJ approaches self-defense by emphasizing taking an opponent to the ground, 
                    gaining a dominant position, and using a number of techniques to force them into submission via joint locks or chokeholds.</p>
            </div>
        </div>
        <div class="style_grid">
            <div class="style_img">
                <img src="/images/sambo.jpg" alt="">
            </div>
            <div class="style_name">
                <h1>Sambo</h1>
            </div>
            <div class="style_info">
                <p>Sambo is relatively modern since its development began in the early 1920s by the Soviet NKVD and Red Army to improve hand-to-hand combat abilities of their servicemen.[2] It was intended to merge the most effective techniques of other martial arts.

                    The pioneers of sambo were Viktor Spiridonov and Vasili Oshchepkov. Oshchepkov spent several years living in Japan and training in Judo under 
                    its founder Kano Jigoro.[7] Oshchepkov died in prison as a result of the Great Purge after being accused 
                    of being a Japanese spy,[8] and judo was banned in the USSR for decades until the 1964 Olympics, where Sambists won four bronze medals.[9]</p>
            </div>
        </div>
    </div>
</body>
</html>