<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/phonelogin.css">
    <script src="https://kit.fontawesome.com/45681e38e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="phone_container">
        <i id="power" class="fa-solid fa-power-off" style="color: #e7f708;"> <span>Power</span></i>
        <div class="screen_container">
            <span id="service">NoobSmoke <i class="fa-solid fa-wifi fa-2xs"></i></span>
            <h6 id="time">9:49</h6>
            <i id= "battery" class="fa-solid fa-battery-full fa-2xs"></i>
            <div class="screen">
                   <h1>LOGIN</h3> 
                    <form action="" class="form_login">
                        <input type="text" name="username" id="username" placeholder="UserName">
                        <input type="password" name="password" id="password" placeholder="Password">
                        <input type="submit" value="Enter" id="enter" class="btn">
                        <input type="reset" value="Clear" id="clear" class="btn">
                    </form>
            </div>
        </div>
    </div>
</body>
</html>