<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/profileabout.css">
</head>
<body>
    <div class="about_container profile_container">
        <h1 class="about_header">About</h1>
        <table class="about_table profile_table">
            <tr class="about_row">
                <td>Full Name</td>
                <td>Osaretin Omofonmwan</td>
            </tr>
            <tr class="about_row">
                <td>Email</td>
                <td>OsoInfinte95@gmail.com</td>
            </tr>
            <tr class="about_row">
                <td>Phone</td>
                <td>708-265-8950</td>
            </tr>
            <tr class="about_row">
                <td>Address</td>
                <td>Spokane, Washington</td>
            </tr>
        </table>
    </div>
</body>
</html>