<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Nav</title>
    <link rel="stylesheet" href="/styles/profilesidenav.css">
</head>
<body>
    <div class="banner">
        <h1>Based Class Room</h1>
    </div>
    <div class="sidenav profile_sidenav">
        <div class="profile_img_container">
            <img src="/images/LilB.jpg" alt="" class="profile_img">
        </div>
        <ul class="sidenav_links home_sidenav">
            <li><a href=""></a>Home</li>
            <li><a href=""></a>Search</li>
            <li><a href=""></a>Sign Out</li>
        </ul>
    </div>
</body>
</html>