<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/styles/profileproject.css">
</head>
<body>
    <div class="project_container display_container">
        <h1 class="project_header section_header">Project</h1>
        <table class="profile_table project_table">
            <tr class="profile_row about_row">
                <td>Name</td>
                <td>Full Stack Banking Project</td>
            </tr>
        </table>
    </div>
</body>
</html>