<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles/profilenavbar.css">
</head>
<body>
    <div>
        <section class="nav">
            <header class="logo">BASEDONE</header>
            <div class="nav_links">
                <a href="">Home</a>
                <a href="">Work</a>
                <a href="">Support</a>
                <a href="">Logout</a>
            </div>
        </section>
    </div>
</body>
</html>