<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/styles/searchstudent.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="search_container">
        <div class="search_title">
            <h1>Search Student</h1>
        </div>
        <div class="student_info_container">
            <div class="top">
                <div class="student_img">
                    <img src="/images/LilBWomen.webp" alt="">
                </div>
                <div class="student_name">
                    <h1>The BasedOne</h1>
                </div>
            </div>  
            <div class="bottom">
                <ul class="info_list">
                    <li>ID: <span>2</span></li>
                    <li>Gender: <span>Male</span></li>
                    <li>Grade: <span>A</span></li>
                </ul>
            </div>
        </div>
        <form action="post" class="search_form">
            <input type="text" class="search_bar" name="id_search" id="" placeholder="Enter ID Number" >
            <button type="submit" class="search_button">Search <i class="fa fa-search"></i></button>
        </form>
    </div>
</body>
</html>