<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Navbar</title>
    <link rel="stylesheet" href="/styles/sidenav.css">
</head>
<body>
    <div class="sidenav">
        <ul class="sidenav_links home_sidenav">
            <li><a href=""></a>Home</li>
            <li><a href=""></a>Login</li>
            <li><a href=""></a>Register</li>
            <li><a href=""></a>About</li>
        </ul>
    </div>
</body>
</html>