<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Grid</title>
    <link rel="stylesheet" href="/styles/tablegrid.css">
    <script src="/scripts/studenttable.js"></script>
</head>
<body>
    <div id="table_div">
        <table class="table_grid">
            <tr class="table_row headers">
                <th>Product</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Buy</th>
            </tr>
            <tr class="table_row">
                <td>Boxing Gloves</td>
                <td>$50</td>
                <td>3</td>
                <td><a href="#">Purchase</a></td>
            </tr>
            <tr  class="table_row">
                <td>Muay Thai Shorts</td>
                <td>$100</td>
                <td>8</td>
                <td><a href="#">Purchase</a></td>
            </tr>
            <tr class="table_row">
                <td>Brazilian Jiu Jitsu Gi</td>
                <td>$200</td>
                <td>2</td>
                <td><a href="#">Purchase</a></td>
            </tr>
        </table>
    </div>
</body>
</html>