*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.mainbanner {
    background-color: yellow;
}

.mainbanner h1{
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 3rem;
}

.navbar {
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navbar div a {
    color: yellow;
    text-decoration: none;
}

.navbar div a:hover {
    text-decoration: line-through;
}

.mainbody{
    height: 80vh;
    border-bottom: 10px solid yellow;
}

table {
    margin: 0 auto;
    width: 50rem;
    
}

#fighter_table_header {
    background-color: black;
    color: yellow;
    font-family: "Audiowide", sans-serif;
}

#fighter_table_title {
    font-size: 3rem;
}

tbody td {
    text-align: center;
}

#fighter_table_column_names th{
    border: 3px solid black;
}