.display_container {
    background-color: gold;
    margin-left: 340px;
    padding-left: 1rem;
}

.about_container {
    width: 90%;
    height: 70vh;
    position: fixed;
    top: 49px;
}

.section_header{
    padding-top: 3rem;
    font-size: 2.5rem;
}

.profile_table {
    height: 75%;
    width: 100%;
    border-collapse: collapse;
    padding-left: 1rem;
}

.about_row {
    border-bottom: 2px solid black;
}

.about_row:last-of-type {
    border-bottom: none;
}


.about_row > td:first-of-type {
    font-size: 1.5rem;
}