@import url(/styles/profilenavbar.css);
@import url(/styles/profileabout.css);

.nav_side {
    position: fixed;
    width: 15%;
    height: 100vh;
    top: 49px;
    left: 0;
    border-right: 3px solid black;
    background-color: gold;
}

.profile_container {
    height: 25%;
    background-color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.profile_container > img {
    border-radius: 3rem;
    height: 80%;
    width: 80%;
    margin-top: 1rem;
}

.profile_name {
    margin:.1rem;
    color: gold;
}

.side_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side_links > li {
    display: block;
    border: 1px solid black;
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}

.side_links > li:hover {
    color: gold;
    background-color: black;
}

.link > a {
    line-height: 5rem;
    text-decoration: none;
    color: black;
}