.register_container {
    width: 35%;
    height: 60vh;
    border: 3px solid black;
    border-radius: 20px;
    background-color: aqua;
    position: absolute;
    top: 230px;
    left: 630px;
    text-align: center;
}

.login_title {
    border-bottom: 3px solid black;
    text-align: center;
}

.login_title > h1 {
    text-transform: uppercase;
}

.register_form_container {
    height: 90%;
    background-color: magenta;
}

.register_form > input[type=text],
.register_form > input[type=password] {
    background-color: magenta;
    width: 80%;
    margin-top: 50px;
    margin-left: 8px;
    padding: 5px;
    font-size: large;
    border: none;
    border-bottom: 2px solid aqua;
}

::placeholder {
    color: black;
    text-align: center;
}

.register_form > input[type=text]:focus,
.register_form > input[type=password]:focus {
    background-color: aqua;
    color: blueviolet;
}

.register_form > input[type=submit] {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-top: 30px;
    transition-duration: 1s;
    background-color: aqua;
    font-size: large;
}

.register_form > input[type=submitj]:hover {
    cursor:grab;
    transform: scale(1.5);
    color: magenta;
}
