@import url('/styles/sidenavbar.css');
@import url('/styles/navbar.css');
@import url('/styles/footer.css');

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
