

.update_container {
    width: 35%;
    height: 50vh;
    border: 3px solid black;
    border-radius: 20px;
    background-color: aqua;
    position: absolute;
    top: 270px;
    left: 600px;
    text-align: center;
}

.update_title {
    border-bottom: 3px solid black;
    text-align: center;
}

.update_title > h1 {
    text-transform: uppercase;
}

.home_container {
    color: white;
    font-size: large;
}

.home_container > img {
      margin-top: 25px;
      height: 50%;
}

.form_container {
    height: 80%;
    background-color: magenta;
}

.login_form > input[type=text],
.login_form > input[type=password] {
    background-color: magenta;
    width: 80%;
    margin-top: 50px;
    margin-left: 8px;
    padding: 20px;
    font-size: large;
    border: none;
    border-bottom: 2px solid aqua;
}

::placeholder {
    color: black;
    text-align: center;
}

.login_form > input[type=text]:focus,
.login_form > input[type=password]:focus {
    background-color: aqua;
    color: blueviolet;
}

#update {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-top: 5px;
    transition-duration: 1s;
    background-color: aqua;
    font-size: large;
}

#update:hover {
    cursor:grab;
    transform: scale(1.5);
    color: magenta;
}
